<div class="panel_top">
	<h2 class="settings_heading" data-bind="text: sAppName"></h2>
</div>
<div class="panel_center">
	<div class="fields">
		<div class="fieldset">
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_LOGIN'}"></span>
				<span class="value">
					<input class="input" type="text" data-bind="value: login, valueUpdate: 'afterkeydown', onEnter: save">
				</span>
			</div>
			<div class="row">
				<span class="label" data-bind="i18n: {'key': 'COREWEBCLIENT/LABEL_PASSWORD'}"></span>
				<span class="value">
					<input class="input" autocomplete="new-password" type="password" data-bind="value: pass, valueUpdate: 'afterkeydown', onEnter: save">
				</span>
			</div>
		</div>

		<div class="buttons">
			<span class="button" data-bind="click: save, visible: !isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}"></span>
			</span>
			<span class="button" data-bind="visible: isSaving()">
				<span data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}"></span>
			</span>
		</div>
	</div>
</div>
