<div class="screen IframeApp" style="display: none;">
	<!-- ko if: iTokenMode === Enums.IframeAppTokenMode.POSTRequest && sAuthToken !== '' -->
	<form data-bind="attr: {'action': sFrameUrl, 'target': sIframeName}, initDom: elForm" method="post">
		<input type="hidden" name="aurora_auth_token" data-bind="attr: {'value': sAuthToken}" />
	</form>
	<iframe data-bind="attr: {'name': sIframeName}" frameborder="0" style="overflow:hidden;height:100%;width:100%;display:block;" height="100%" width="100%">---</iframe>
	<!-- /ko -->
	
	<!-- ko if: iTokenMode !== Enums.IframeAppTokenMode.POSTRequest || !sAuthToken -->
	<iframe data-bind="attr: {'src': sFrameUrl}" frameborder="0" style="overflow:hidden;height:100%;width:100%;display:block;" height="100%" width="100%">---</iframe>
	<!-- /ko -->
</div>